.heading {
	.heading-cover {
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		background-position: center center;
		width: 100%;
		height: 500px;
		@media (max-width: 767px) {
			height: 400px;
		}
		.lead {
			width: 100%;
			height: 100%;
			background-color: rgba(0,0,0,0.5);
			.big-title {
				padding: 150px 0 0 40px;
				width: 70%;
				color: white;
				@media (max-width: 767px) {
					padding-top: 120px;
					padding-left: 40px;
					font-size: 36px;
				}
				@media (max-width: 400px) {
					width: 100%;
					padding-top: 100px;
					padding-left: 10px;
					padding-right: 10px;
					font-size: 36px;
				}
			}
			.btn {
				margin: 30px 0 0 40px;
				border: none;
				background-color: rgba(123,210,127,0.7);
				color: white;
				&:hover {
					background-color: $brand-primary;
				}
				@media (max-width: 400px) {
					margin-left: 10px;
				}
			}
		}
	}
}

.PlaceToBe {
	position: relative;
	margin: 0px 0 40px 0;
	padding: 80px 0;
	.suggestion-intro {
		padding-bottom: 30px;
		margin: 0 auto;
		width: 60%;
		@media (max-width: 767px) {
			width: 95%;
		}
		h2 {
			margin: 20px 0;
		}
		p {
			font-weight: 300;
		}
		.icons {
			display: inline-block;
			margin: 0 auto;
			@media (max-width: 767px) {
				margin-left: 30px;
			}
		}
		.icon1 {
			margin: 20px 10px 0 10px;
			float: left;
			background-image: url(../../assets/images/icons/placeg.png);
			width: 100px;
			height: 100px;
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-size: cover;
			background-position: center center;
			@media (max-width: 767px) {
				width: 50px;
				height: 50px;
			}
		}
		.icon2 {
			margin: 20px 10px 0 10px;
			float: left;
			background-image: url(../../assets/images/icons/hotelg.png);
			width: 100px;
			height: 100px;
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-size: cover;
			background-position: center center;
			@media (max-width: 767px) {
				width: 50px;
				height: 50px;
			}
		}
		.icon3 {
			margin: 20px 10px 0 10px;
			float: left;
			background-image: url(../../assets/images/icons/foodg.png);
			width: 100px;
			height: 100px;
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-size: cover;
			background-position: center center;
			@media (max-width: 767px) {
				width: 50px;
				height: 50px;
			}
		}
		.icon4 {
			margin: 20px 10px 0 10px;
			float: left;
			background-image: url(../../assets/images/icons/museumg.png);
			width: 100px;
			height: 100px;
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-size: cover;
			background-position: center center;
			@media (max-width: 767px) {
				width: 50px;
				height: 50px;
			}
		}
	}
	.map-suggestions {
		margin: 0 auto;
		background-image: url(../../assets/images/pages/index/map-suggestion.jpg);
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		background-position: center center;
		width: 70%;
		height: 400px;
		@media (max-width: 767px) {
			width: 95%;
			height: 250px;
		}
	}
}

.share {
	color: $gray-dark;
	background-color: $gray-lighter;
	@media (max-width: 500px) {
		padding-bottom: 80px;
	}
	.share-bg {
		margin: 0 auto;
		background-image: url(../../assets/images/icons/share.png);
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		background-position: center center;
		width: 70%;
		height: 400px;	
		@media (max-width: 767px) {
			width: 95%;
		}
	}
	.share-inside {
		padding: 80px 0px;
		@media (max-width: 767px) {
			width: 100%;
		}
		.share-intro {
			width: 60%;
			@media (max-width: 767px) {
				width: 95%;
			}
			h2 {
				margin: 0px 0px 20px 0;
			}
			p {
				font-weight: 300;
			}
		}
		.sharing-btn {
			display: inline-block;
			margin-top: 20px; 
			width: 100%;
			.btn {
				background-color: transparent;
				border: 1px solid black;
				color: black;
				cursor: default;
			}
			.btn-fb {
				color: white;
				border: none;
				background-color: #3B5998;
				&:hover {
					// background-color: #3B5998;
					// color: white;
					// border: 1px solid #3B5998;
					background-color: darken(#3B5998,10%);
				}
				@media (max-width: 767px) {
					margin: 0 10px 10px 0;
				}
			}
			.btn-twitter {
				color: white;
				border: none;
				background-color: #4099FF;
				&:hover {
					// background-color: #4099FF;
					// color: white;
					// border: 1px solid #4099FF;
					background-color: darken(#4099FF,10%);
				}
			}
			.hidden-xs {
				font-size: 22px;
				font-weight: 300;
				margin: 6px 10px 6px 10px;
			}
		}
	}
}

.proposition {
	background-color: white;
	padding: 80px 0;
	.proposition-intro {
		margin: 0 auto;
		width: 60%;
		text-align: center;
		@media (max-width: 767px) {
			width: 95%;
		}
		h2 {
			margin-bottom: 20px;
		}
		p {
			font-weight: 300;
		}
		.btn {
			margin-top: 20px;
		}
	}
}

.newsletter {
	background-image: url(../../assets/images/banners/newsletter.jpg);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position: center center;
	width: 100%;
	height: auto;
	.newsletter-intro {
		background-color: rgba(0,0,0,0.6);
		color: white;
		padding: 80px 0;
		margin: 0 auto;
		width: 100%;
		height: 100%;
		h2 {
			margin-bottom: 20px;
		}
		p {
			margin: 0 auto;
			width: 60%;
			padding-bottom: 30px; 
			@media (max-width: 767px) {
				width: 95%;
			}
		}
		form {
			display: block;
			margin: 0 auto;
		}
		input {
			float: left;
			margin: 0;
			padding: 10px 16px;
			border-radius: 4px;
			margin-right: -5px;
			border: 1px solid white;
			background-color: transparent;
			color: white;
		}
		.btn {
			padding: 10px 16px;
			margin-left: -4px;
			font-size: 10px;
			border: 1px solid white;
			background-color: white;
			&:hover {
				background-color: $gray-lighter;
			}
		}
	}
}